* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  background-color: rgb(37, 182, 182);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard-content {
  background-color: rgb(255, 254, 254);
  height: 85vh;
  width: 90vw;
  border-radius: 1rem;
}
